span{
    position: relative;
    top: 50px;
    left: 80px;
}

div{
    width: 100%;
    height: 100%;
    background-color: rgba(118, 228, 255, 0.5);
    position: relative;
    top: 50px;
    left: 80px;
}

div:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}