h1{
    text-align: center;
    font-size: 24px;
    color: #333;
    text-decoration: underline;
}

ol{
    border: 1px solid rgb(94, 208, 236);
    padding: 20px;
    border-radius: 5px;
}

footer{
    position: fixed;
    bottom: 3px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    background-color: rgba(118, 228, 255, 0.5);
    border: 1px solid rgb(118, 228, 255);
    border-radius: 5px;
}